services:
  app:
    build: .
    container_name: ptrace-centos
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    tty: true
    stdin_open: true
    volumes:
      - ./src:/src
    working_dir: /src