services:
  app:
    build: .
    container_name: app
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    tty: true
    stdin_open: true
    volumes:
      - .:/app
    working_dir: /app